extends layoutNavBarEmployee

block content
  h1 Employee Login
  form(method='POST', action='/employees/login')

    #form-group
      label Username:
      input.form-control(name='username', type='text')
    #form-group
      label Password:
      input.form-control(name='password', type='text')

    input.btn.btn-primary(type='submit', value='Submit')
