extends layout

block content
  h1 Room Number: #{reservation.roomNum}
  h5 Reserved by #{guest}
  hr
  if user
    if user.id == reservation.guest
      a.btn.btn-default(href='/reservations/edit/'+reservation._id) Edit
      a.btn.btn-danger.delete-reservation(href='#', data-id=reservation._id) Delete 
