extends layoutNavBar

block content
  h1 RoomStyle: #{reservation.roomstyle}
  h1 Room Number: #{reservation.roomNum}
  h1 Start Date: #{reservation.startDate}
  h1 End Date: #{reservation.endDate}


      //-a.btn.btn-default(href='/reservations/edit/'+reservation._id) Edit
