extends layoutNavBar
//- comment testing
block content
      h2.
          Reservations:
      ul
          each rsvp, i in reservations
              li
                  p Reservation ID: #{rsvp._id}
                  p Room Number: #{rsvp.roomNum}
                  form(action="/deleteRSVP",method="post")
                      input(type="hidden",name="_id",value=rsvp._id)
                      button#btnSubmit(type="submit") Delete


                  




      
