extends layoutNavBar

block content
    h1 List of Rooms:
    ul.list-group
    each room, i in rooms
      li.list-group-item
       z Room Number: 
        a(href="/rooms/"+room._id)= room.room_number 
