extends layoutNavBar
//- comment testing
block content
  h1 Rooms
  h1 #{title} 
  ul.list-group
  each reservation, i in reservations
    li.list-group-item
      p RoomType: #{reservation.roomstyle}
      //- a(href="/reservations/"+reservation._id)= reservation.roomstyle  
      p Reserved by:
      a(href="/reservations/"+reservation._id)= reservation.guest  


      
