extends layoutNavBar
//- comment testing
block content
      h2.
          Reservations:
      ul
          each rsvp, i in reservations
              li
                  p #{rsvp.guest} roomNumberd #{rsvp.roomNum}
                  p #{rsvp._id}
                  form(action="/deleteRSVP",method="post")
                      input(type="",name="_id",value=rsvp._id)
                      button#btnSubmit(type="submit") Delete


                  




      
