extends layoutNavBar

block content
    h1 #{title}
    form(method='POST', action='/reservations/add')
      #form-group
        label(for='roomstyle') Room Style (Select 1)
          - const roomstyleOptions = [{value: 'Standard Single'}, {value: 'Superior Twin'}, {value: 'Deluxe Double'}, {value: 'Family Suite'}]
            select#roomstyle(name='roomstyle' size='4' multiple required)
                each roomstyle in roomstyleOptions
                  option(value=(roomstyle.value)) #{roomstyle.value}    
      br
        
    
      input.btn.btn-primary(type='submit', value='Submit')
        
        
