doctype html
html(lang='en')
  head
    title Hotel Client
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Hotel Client
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
            li
                a(href='/amenities') Amenities
            li
              a(href='/reservations/add') Add Reservation
            if user
              li
                a(href='/reservations/checkYourReservation') Check Your Reservation
          ul.nav.navbar-nav.navbar-right
            if user
              li
                a(href='users/logout')
                  span.glyphicon.glyphicon-user
                  |  Log out
            else 
              li
                a(href='/users/register')
                  span.glyphicon.glyphicon-user
                  |  Sign Up
              li
                a(href='/users/login')
                  span.glyphicon.glyphicon-log-in
                  |  Login
    .row
      .col-sm-1
      .col-sm-10
        .panel.panel-default
          .panel-heading Amenities
          .panel-body
            #accordion.panel-group
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapse1') Continental Breakfast
                #collapse1.panel-collapse.collapse.in
                  .panel-body
                    .panel.panel-default(style='float:left;')
                      .panel-body
                        img(src='https://b.zmtcdn.com/data/pictures/3/16502313/6d9399498b87d0687ea004abdedcdb52_featured_v2.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A', alt='Our gym', style='float:left;')
                    .col-sm-9
                      .panel.panel-default(style='float:left;')
                        .panel-body Our hotel provides a complimentary breakfast for each night of your stay.
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapse2') Swimming Pool
                #collapse2.panel-collapse.collapse
                  .panel-body
                    .panel.panel-default(style='float:left;')
                      .panel-body
                        img(src='https://lknpools.com/wp-content/uploads/2015/07/ThinkstockPhotos-177134103-100x100.jpg', alt='Our swimming pool')
                    .col-sm-9
                      .panel.panel-default(style='float:left;')
                        .panel-body On the ground floor is a fully heated indoor swimming pool.
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapse3') Gym
                #collapse3.panel-collapse.collapse
                  .panel-body
                    .panel.panel-default(style='float:left;')
                      .panel-body
                        img(src='https://d2ujflorbtfzji.cloudfront.net/key-image/b6493bda-016e-4a1c-83ab-766533e348c4.png', alt='Our gym')
                    .col-sm-9
                      .panel.panel-default(style='float:left;')
                        .panel-body Our hotel features over 30 different workout machines for you to enjoy.
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapse4') Spa
                #collapse4.panel-collapse.collapse
                  .panel-body
                    .panel.panel-default(style='float:left;')
                      .panel-body
                        img(src='https://cdn.shopify.com/s/files/1/1766/1081/files/Day_at_the_Spa_750px_small.jpg?v=1504908874', alt='Our spa')
                    .col-sm-9
                      .panel.panel-default(style='float:left;')
                        .panel-body
                          | Our spa comes with several luxuries for you to enjoy, including a sauna, hot tubs, and massages.
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapse5') Toiletries
                #collapse5.panel-collapse.collapse
                  .panel-body
                    .panel.panel-default(style='float:left;')
                      .panel-body
                        img(src='https://img.thrfun.com/img/017/485/toiletries_ts.jpg', alt='Our toiletries')
                    .col-sm-9
                      .panel.panel-default(style='float:left;')
                        .panel-body
                          | Each one of our bathrooms comes with complimentary bottles of shampoo, body wash, soap, toothbrushes and toothpaste.
    footer.container-fluid.text-center
      p
