extends layoutNavBar
//- comment testing
block content
  if roomsAvailble    
  h1 Rooms available:
  ul.list-group
  each room, i in roomsAvailable
    li.list-group-item
      p RoomType: #{room.roomstyle}
      //- a(href="/reservations/"+reservation._id)= reservation.roomstyle  
      p RoomNumber: #{room.room_number}
  else
      h1 None


      
