extends layoutNavBar
//- comment testing
block content
  h1 Pick your room
  form(method='POST' action='/reservations/addWithRoom')
    div.form-group
      label(for='room') room:
      select#room.form-control(type='select', placeholder='Select room' name='room' required='true' )
        for room in roomsAvailable
          if room
            option(value=room) #{room.room_number}
      button.btn.btn-primary(type='submit') Submit




      
